*{
    padding : 0 px;
    margin : 0 px;
    font-family: monospace;
}

h3{
    color: rgb(255, 0, 183);
}

h1{
    color: brown;
}

#login{
    color: aliceblue;
    background-color: black;
}

#signup{
    background-color: aqua;
    color: brown;
}

.upvote{
    background-color: aquamarine;
}

.answer{
    background-color: chocolate;
}

#mydiv p {
    background-color: antiquewhite;
}

p a {
    color: rgb(236, 109, 236);
}

p + h3 {
    text-decoration: overline;
}

div > input{
    background-color:blanchedalmond;
}

input[type="text"] {
    text-align: center;
}

input[type="password"] {
    text-align: right;
}

button:hover {
    background-color: aliceblue;
    color: black;
}

input[type="radio"]:checked + label{
    color: red;
}

main .post:nth-of-type(2n){
    background-color:rgb(191, 215, 216);
}

p::first-letter{
   font-weight: 900;
   font-size: large;
}

p::selection{
    background-color: black;
    color: aliceblue;
}
