#alpha{
    margin-top: 10px;
    background-color: #101010a0;
}

#transition {
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    transition:  border-radius 0.6s ease-in-out;    
    transition: background-color color 5s ease-in-out;
}

#transition:hover {
    background-color:  black;
    border-radius: 50%;
}

#rotate, #rotateX, #rotateY, #rotateZ, #skew, #skewX, #skewY, #translate, #translateX, #translateY, #translateZ, #scale, #scaleX, #scaleY, #scaleZ {
    height: fit-content;
    width: fit-content;
    background-color: antiquewhite;
    border: 3px solid black;
    display: inline-block;
    transition: 0.7s ease-in-out;
    margin: 10px 20px;
   padding: 10px;
}

#rotate:hover {
    transform: rotate(45deg);
    background-color: rgb(164, 164, 224);
}

#rotateX:hover{
    transform: rotateX(75deg);
    background-color: rgb(164, 164, 224);
}

#rotateY:hover{
    transform: rotateY(75deg);
    background-color: rgb(164, 164, 224);   
}

#rotateZ:hover{
    transform: rotateZ(75deg);
    background-color: rgb(164, 164, 224);
}

#scale:hover{
    transform: scale(1.2,1.2);
    background-color: chocolate;
}

#scaleX:hover{
    transform: scaleX(1.5);
    background-color: chocolate;
}

#scaleY:hover{
    transform: scaleY(1.5);
    background-color: chocolate;
}

#scaleZ:hover{
    transform: scaleZ(1.2);
    background-color: chocolate;
}

#skew:hover{
    transform: skew(40deg, 40deg);
    background-color: rgb(175, 118, 227);
}

#skewX:hover{
    transform: skew(30deg);
    background-color: rgb(162, 105, 215);
}

#skewY:hover{
    transform: skew(30deg);
    background-color: rgb(155, 100, 207);
}

#translate:hover{
    transform: translate(50px, 50px);
    background-color: rgb(247, 113, 202);
}

#translateX:hover{
    transform: translateX(50px);
    background-color: rgb(247, 113, 202);
}

#translateY:hover{
    transform: translateY(50px);
    background-color:  rgb(247, 113, 202);
}

#translateZ:hover{
    transform: translateZ(50px);
    background-color:  rgb(247, 113, 202);
}

#shadow{
    height: 100px;
    width: 200px;
    box-shadow:  10px 10px 35px black;
}

#backgnd-img {
   background-image: url(Images/Certificate_CSS.jpg);
   height: 300px;
   width:  700px;
   background-size: cover;
}

.card{
    height: 380px;
    width: 200px;
    display: inline-block;
    border-radius: 14px;
    box-shadow: 0px 4px 8px;
    transition: 0.5s ease-in-out;
    display: inline-block;
    margin: 34px;
}

img{
    width: 100%;
    border-radius: 14px;
}

.desc{
    text-align: center;
}

.card:hover{
    box-shadow: 0px 12px 24px;
}